<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
</head>
<body>
<form th:action="@{login}" method="post">
    <label>用户：<input type="text" name="username" value=""></label><br/>
    <label>密码：<input type="password" name="pwd" value=""></label><br/>
    <label th:if="${ not #strings.isEmpty(msg)}" style="color: red">
        错误信息：<span type="text" th:text="${msg}"/></label><br/>
    <input type="submit" value="登陆">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a th:href="@{toRegister}" style="color: blue">注册</a>
</form>
</body>
</html>